/* I AM LICKING IT */

/* background image */
body { 
	 background-image: url("29copy.jpg");
	
}


/* background image */
img {
    display: block;
    margin: auto;
    width: 75%;

}

#logo {
    display: inline;
    /*margin: auto;*/
    width: 36%;
    box-shadow: 10px 10px #888888
}
 



div {
	font-family: 'Source Sans Pro', sans-serif;
	text-align: center;
	font-size: 30px;
	font-weight: bold;
    
	
	padding: 4px;

	
}


#SQUARE {

	font-family: Impact;
	font-size:140px;
	background: #FFFFFF;

}


.rec {
	font-size: 20px;
	font-weight: normal;
	padding-bottom: 1.4em;

}

#one {
	height: 10px
	width:10px;
    background: #BF3F51;
    position: relative;
    display: inline-block;
    margin:auto;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;

    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;

    
}

        #one:hover {
          background: #ff7b29;
        }


#two {
	height: 10px
	width:10px;
    background: #BF3F51;
    position: relative;
    
    display: inline-block;
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;

    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;

    
}

        #two:hover {
          background: #ff7b29;
        } 

#three {
	height: 10px
	width:10px;
    background: #BF3F51;
    position: relative;
    
    display: inline-block;
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;

    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;

    
}

        #three:hover {
          background: #ff7b29;
        }

#four {
	height: 10px
	width:10px;
    background: #BF3F51;
    position: relative;
    
    display: inline-block;
    margin:auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;


    transition-property: background;
    transition-duration: 1s;
    transition-timing-function: linear;

    
}

        #four:hover {
          background: #ff7b29;
        }

#FIVE {
	height: 10px
	width:10px;
    background: #BF3F51;
    position: relative;
    display: inline-block;
    margin:6px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 6px;
    padding: 8px;
}

#WTH {
	width:4%;
	float:right;
	display: inline-block;
	margin: 10px;
	margin-bottom: 10px;
}
a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: underline;
}
